USE [QUANLYBIDA]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[ID_BAN] [int] IDENTITY(1,1) NOT NULL,
	[TENBAN] [nvarchar](100) NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[GIOVAO] [datetime] NULL,
	[GIORA] [datetime] NULL,
	[ID_LOAIBAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAPBAC]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAPBAC](
	[ID_CAPBAC] [int] IDENTITY(1,1) NOT NULL,
	[TENCAPBAC] [nvarchar](100) NOT NULL,
	[HESOLUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CAPBAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_HOADONNHAP]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HOADONNHAP](
	[ID_HOADONNHAP] [int] NOT NULL,
	[ID_THUCPHAM] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [int] NULL,
	[tongtien] [int] NULL,
 CONSTRAINT [KHOA_CHITIETNHAP] PRIMARY KEY CLUSTERED 
(
	[ID_HOADONNHAP] ASC,
	[ID_THUCPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[ID_HOADON] [int] NOT NULL,
	[ID_THUCPHAM] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [KHOA_CTHD] PRIMARY KEY CLUSTERED 
(
	[ID_HOADON] ASC,
	[ID_THUCPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[ID_NHANVIEN] [int] NOT NULL,
	[TENDANGNHAP] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](1000) NOT NULL,
	[ID_QUYEN] [int] NOT NULL,
 CONSTRAINT [KC_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[ID_NHANVIEN] ASC,
	[ID_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAMGIA]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAMGIA](
	[ID_GIAMGIA] [int] IDENTITY(1,1) NOT NULL,
	[TENGIAMGIA] [nvarchar](100) NOT NULL,
	[GIAMGIAGIO] [float] NULL,
	[GIAMGIATHUCPHAM] [float] NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GIAMGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID_HOADON] [int] IDENTITY(1,1) NOT NULL,
	[ID_BAN] [int] NULL,
	[ID_NHANVIEN] [int] NULL,
	[ID_KHACHHANG] [int] NULL,
	[ID_GIAMGIA] [int] NULL,
	[GIAMGIAGIO] [float] NULL,
	[GIAMGIATHUCPHAM] [float] NULL,
	[TONGGIOCHOI] [datetime] NULL,
	[DATHANHTOAN] [bit] NULL,
	[TIENGIO] [float] NULL,
	[TIENTHUCPHAM] [float] NULL,
	[NGAYLAPHOADON] [datetime] NULL,
	[NGAYKETTHUCHOADON] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[ID_HOADONNHAP] [int] IDENTITY(1,1) NOT NULL,
	[TENHOADONNHAP] [nvarchar](100) NULL,
	[NGAYNHAP] [datetime] NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK__HOADONNH__E225DC195B0A6E2C] PRIMARY KEY CLUSTERED 
(
	[ID_HOADONNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID_KHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NOT NULL,
	[SODIENTHOAI] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [bit] NULL,
	[GUICO] [bit] NOT NULL,
	[ID_LOAIKHACHHANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIBAN]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIBAN](
	[ID_LOAIBAN] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NOT NULL,
	[GIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAIBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[ID_LOAIKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIKHACHHANG] [nvarchar](100) NULL,
	[GIAMGIAGIO] [float] NULL,
	[GIAMGIATHUCPHAM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAIKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITHUCPHAM]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHUCPHAM](
	[ID_LOAITHUCPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITHUCPHAM] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAITHUCPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID_NHACUNGCAP] [int] IDENTITY(1,1) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID_NHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[TENNHANVIEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[CMND] [nvarchar](100) NOT NULL,
	[SODIENTHOAI] [nvarchar](100) NULL,
	[GIOITINH] [bit] NULL,
	[ID_CAPBAC] [int] NULL,
	[CATRUC] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[ID_QUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUCPHAM]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCPHAM](
	[ID_THUCPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENTHUCPHAM] [nvarchar](100) NOT NULL,
	[DVT] [nvarchar](100) NULL,
	[ID_LOAITHUCPHAM] [int] NOT NULL,
	[GIABAN] [float] NULL,
	[ID_NHACUNGCAP] [int] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_THUCPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DANGNHAP] ([ID_NHANVIEN], [TENDANGNHAP], [MATKHAU], [ID_QUYEN]) VALUES (3, N'admin', N'33354741122871651676713774147412831195', 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([ID_NHANVIEN], [TENNHANVIEN], [NGAYSINH], [CMND], [SODIENTHOAI], [GIOITINH], [ID_CAPBAC], [CATRUC], [EMAIL]) VALUES (3, N'admin', NULL, N'', N'', NULL, NULL, N'Sáng', NULL)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[QUYEN] ON 

INSERT [dbo].[QUYEN] ([ID_QUYEN], [TENQUYEN]) VALUES (1, N'Admin')
INSERT [dbo].[QUYEN] ([ID_QUYEN], [TENQUYEN]) VALUES (2, N'Quản lý')
INSERT [dbo].[QUYEN] ([ID_QUYEN], [TENQUYEN]) VALUES (3, N'Thu Ngân')
SET IDENTITY_INSERT [dbo].[QUYEN] OFF
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD FOREIGN KEY([ID_LOAIBAN])
REFERENCES [dbo].[LOAIBAN] ([ID_LOAIBAN])
GO
ALTER TABLE [dbo].[CHITIET_HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK__CHITIET_H__ID_HO__3C69FB99] FOREIGN KEY([ID_HOADONNHAP])
REFERENCES [dbo].[HOADONNHAP] ([ID_HOADONNHAP])
GO
ALTER TABLE [dbo].[CHITIET_HOADONNHAP] CHECK CONSTRAINT [FK__CHITIET_H__ID_HO__3C69FB99]
GO
ALTER TABLE [dbo].[CHITIET_HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK__CHITIET_H__ID_TH__3D5E1FD2] FOREIGN KEY([ID_THUCPHAM])
REFERENCES [dbo].[THUCPHAM] ([ID_THUCPHAM])
GO
ALTER TABLE [dbo].[CHITIET_HOADONNHAP] CHECK CONSTRAINT [FK__CHITIET_H__ID_TH__3D5E1FD2]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([ID_HOADON])
REFERENCES [dbo].[HOADON] ([ID_HOADON])
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([ID_THUCPHAM])
REFERENCES [dbo].[THUCPHAM] ([ID_THUCPHAM])
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD FOREIGN KEY([ID_QUYEN])
REFERENCES [dbo].[QUYEN] ([ID_QUYEN])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_BAN])
REFERENCES [dbo].[BAN] ([ID_BAN])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_GIAMGIA])
REFERENCES [dbo].[GIAMGIA] ([ID_GIAMGIA])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_KHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([ID_KHACHHANG])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([ID_LOAIKHACHHANG])
REFERENCES [dbo].[LOAIKHACHHANG] ([ID_LOAIKHACHHANG])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([ID_CAPBAC])
REFERENCES [dbo].[CAPBAC] ([ID_CAPBAC])
GO
ALTER TABLE [dbo].[THUCPHAM]  WITH CHECK ADD FOREIGN KEY([ID_LOAITHUCPHAM])
REFERENCES [dbo].[LOAITHUCPHAM] ([ID_LOAITHUCPHAM])
GO
ALTER TABLE [dbo].[THUCPHAM]  WITH CHECK ADD FOREIGN KEY([ID_NHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NHACUNGCAP])
GO
/****** Object:  StoredProcedure [dbo].[BATGIO]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BATGIO]
@id int
as
begin
	insert into HOADON 
	values (@id,NULL,NULL,NULL,0,0,0,0,0,0,GETDATE(),null);

	update BAN 
	set trangthai = 1, GIOVAO = GETDATE(), GIORA = NULL 
	where ID_BAN = @id;
end

GO
/****** Object:  StoredProcedure [dbo].[chuyenban]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[chuyenban]
@curr int,
@taget int
as
begin
update ban set TRANGTHAI =1,GIOVAO=(select GIOVAO from BAN where ID_BAN=@curr),GIORA = null where ID_BAN=@taget
Update ban set TRANGTHAI = 0,GIOVAO=null,GIORA=null where ID_BAN=@curr
update HOADON set ID_BAN = @taget where ID_HOADON = (select top 1 (ID_HOADON) from HOADON where ID_BAN = @curr order by ID_HOADON desc)
end
GO
/****** Object:  StoredProcedure [dbo].[SuaSoLuongThucPhamKhiThemHang]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaSoLuongThucPhamKhiThemHang]
@id_hoadon int,
@soluong int,
@id_thucpham int
as
begin
	update CHITIETHD
	set SOLUONG = SOLUONG + @soluong
	where ID_HOADON = @id_hoadon and ID_THUCPHAM= @id_thucpham

	update THUCPHAM
	set SOLUONG = SOLUONG - @soluong
	where ID_THUCPHAM = @id_thucpham
end
GO
/****** Object:  StoredProcedure [dbo].[TATBAN]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TATBAN]
					@id_ban int,
                    @id_hoadon int,
                    @id_NhanVien int,
                    @id_khachhang int,
                    @tiengio float,
                    @tienthucpham int
                    as
                    begin
                    -- Cập nhật trạng thái cho bàn
                    UPDATE BAN
                    SET TRANGTHAI = 0,GIORA = getdate()
                    where ID_BAN = @id_ban
                    -- Tính tổng số giờ chơi của bàn có id_hoadon
                    UPDATE HOADON 
                    SET TONGGIOCHOI = (SELECT GIORA-GIOVAO FROM BAN WHERE ID_BAN =@id_ban),ID_NHANVIEN =@id_NhanVien,ID_KHACHHANG=@id_khachhang,tiengio = @tiengio,tienthucpham=@tienthucpham,NGAYKETTHUCHOADON=GETDATE()
                    where ID_HOADON = @id_hoadon
                    end

GO
/****** Object:  StoredProcedure [dbo].[ThemMoiThucPhamVaoHoaDon]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemMoiThucPhamVaoHoaDon]
@id_hoadon int,
@soluong int,
@id_thucpham int
as
begin
	insert into CHITIETHD
	Values (@id_hoadon,@id_thucpham,@soluong)

	update THUCPHAM
	set SOLUONG = SOLUONG - @soluong
	where ID_THUCPHAM = @id_thucpham
end
GO
/****** Object:  StoredProcedure [dbo].[XOAMATHANG]    Script Date: 24/05/2018 3:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XOAMATHANG]
@idHoaDon int,
@idThucPham int,
@soluong int
as
begin
	delete CHITIETHD
	where ID_HOADON = @idHoaDon and ID_THUCPHAM = @idThucPham

	update THUCPHAM
	SET SOLUONG = SOLUONG + @soluong
	where ID_THUCPHAM= @idThucPham
end
GO
