<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
      <add providerName="System.Data.SqlClient" name="tenketnoi" connectionString="Data Source=(LocalDB)\.;AttachDbFilename=|DataDirectory|\Data\QUANLYBIDA.mdf;Integrated Security=True"/>
      
      <!--<add providerName="System.Data.SqlClient" name="tenketnoi" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QUANLYBIDA;Integrated Security=True"/>-->
    </connectionStrings> 
</configuration>